.gallery
  display: grid
  padding: 0
  gap: 1rem 1rem
  margin-bottom: 1rem
  list-style: none


.gallery-single
  grid-template-columns: 1fr
  gap: 5rem

.gallery-single-item
  background: palette(black, mid-light)
  padding: 1rem 2rem

.gallery-single-item--header
  display: flex
  flex-flow: column
  align-items: center
  justify-content: space-between

.gallery-single-item--footer
  display: flex
  justify-content: center

  padding: 4rem 0

.gallery-single-item--body-image
  width: 100%
  aspect-ratio: 2 / 1
  object-fit: cover

.gallery-split
  grid-template-columns: 1fr
  gap: 4rem

.gallery-split-left
  padding: 1rem 2rem

.gallery-split-right
  padding: 2rem 2rem


.gallery-split-item
  display: grid
  align-items: center
  gap: 1rem
  background: palette(black, mid-light)

  @include respond-to(lg)
    grid-template-columns: 1fr 1fr

.gallery-split-item--body-image
  width: 100%
  aspect-ratio: 1 / 1.35
  object-fit: cover

.gallery-grid
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr))
  gap: 2rem
  row-gap: 3rem

.gallery-grid-item
  background: palette(black, mid-light)

.gallery-grid-item--header
  padding: 0.25rem 1rem

.gallery-grid-item--body
  padding: 0.25rem 1rem

.gallery-grid-item--footer
  padding: 0.25rem 1rem

.gallery-grid-item--body-image
  width: 100%
  aspect-ratio: 1 / 0.75
  object-fit: cover


.bottom-observer
  padding: 1rem