.gallery-grid
  display: grid
  padding: 0
  gap: 1rem 1rem
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr))
  margin-bottom: 1rem
  list-style: none

.card
  border: 1px solid #ccc

.card-image
  width: 100%
  aspect-ratio: 1 / 0.75
  object-fit: cover

.card-header
  padding: 0.25rem 1rem

.card-footer
  padding: 0.25rem 1rem